body {
    background-image: url('https://bnetcmsus-a.akamaihd.net/cms/gallery/YWHEBU7YPF2E1509559682782.jpg');
    background-color: #c5cfe0;
    color: black;
    margin-top:1rem;
}

.container { 
    min-width:88%;
    padding: 20px 15px;
    background-color: rgba(197, 207, 224, 0.9);
}

#input {
    width:300px;
}

#action {
    width: 178px;
}

a { font-size: 1.5rem; }